include base

#leftpanel(data-role='panel', data-display='overlay', data-position-fixed=true)

    if session.valid
        .nd2-sidepanel-profile.wow.fadeInDown
            img.profile-background(src='/public/img/sidebar_bg.png')
            .row
                .col-xs-4.center-xs
                    .box
                        img.profile-thumbnail(src=session.user.avatarUrl)

                .col-xs-8
                    .box.profile-text
                        strong= session.user.name
                        span.subline Speler

    else
        h4 #{app.name}

    ul(data-role='listview')
        li(data-role='list-divider') Pagina's

        - var nextParam = next !== undefined ? '?next=' + next : '';

        unless session.valid
            li: a(href='/' + nextParam) Hoofdpagina
            li: a.clr-primary(href='/login' + nextParam) Inloggen
            li: a.clr-primary(href='/register' + nextParam) Registreren
        else
            li: a(href='/') Dashboard
            li: a(href='/games') Spellen
            li: a.clr-warning(href='/logout')
                i.zmdi.zmdi-lock &nbsp;&nbsp;
                span Uitloggen

        //div(data-role='collapsible', data-inset=false, data-collapsed-icon='carat-d', data-expanded-icon='carat-d', data-iconpos='right')
        //    h3 Basic Elements
        //    ul(data-role='listview', data-inset=false, data-icon=false)
        //        li: a(href='/') Item 1
        //        li: a(href='/') Item 2

        hr.inset
        li(data-role='list-divider') Informatie
        li: a(href='/about') Over
        li: a(href='/status') Applicatie status