extends ../../base/page

block content
    div(align="center")
        p U staat op het punt de volgende inzending te verwijderen.

        form(method='POST', action=page.url + '/#')
            table.table-list.ui-responsive
                tr: td Naam
                    td= submission.assignment.name
                tr: td Opdracht
                    td Tekst &#x21B4;
            p.content-box= submission.assignment.description
            table.table-list.ui-responsive
                tr: td Ingezonden
                    td= submission.user.name
                tr: td Punten
                    td
                        if submission.approve_state === 0
                            = submission.assignment.points
                        else if submission.approve_state === 1
                            span(style='color: green;')= submission.assignment.points
                        else if submission.approve_state === 2
                            span(style='color: red;')= submission.assignment.points
                tr: td Pogingen
                    if submission.assignment.retry
                        td Onbeperkt
                    else
                        td 1x
                tr: td Beoordeling
                    td
                        if submission.approve_state === 0
                            i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                                &nbsp;
                            span In afwachting
                        else if submission.approve_state === 1
                            i.zmdi.zmdi-thumb-up.ui-pull-left(style='color: green;').
                                &nbsp;
                            span(style='color: green;') Goedgekeurd
                        else if submission.approve_state === 2
                            i.zmdi.zmdi-thumb-down.ui-pull-left(style='color: red;').
                                &nbsp;
                            span(style='color: red;') Afgekeurd
                unless  submission.approve_user.id === null
                    tr: td Beoordelaar
                        td= submission.approve_user.name
                unless submission.answer_text === null
                    tr: td Antwoord
                        td Tekst &#x21B4;
            unless submission.answer_text === null
                p.content-box= submission.answer_text
                table.table-list.ui-responsive

                    unless submission.answer_file === null
                        tr: td Antwoord
                            td Bestand &#x21B4;

            unless submission.answer_file === null
                div.content-box
                    if submission.answer_file.isImage
                        a(href=submission.answer_file.url, target='_blank', title='Bestand bekijken')
                            img(src=submission.answer_file.url, alt='Afbeelding bestand')
                    else if submission.answer_file.isVideo
                        video(controls alt='Video bestand')
                            source(src=submission.answer_file.url)
                    else
                        p  Bestandstype onbekend.
                        p  Klik op de knop om het bestand te openen.
                    a.ui-btn(href=submission.answer_file.url, title='Bestand bekijken', target='_blank')
                        i.zmdi.zmdi-search-in-file
                        | &nbsp;&nbsp;Bestand bekijken

            p.
                Deze actie kan niet worden teruggedraaid.#[br]
                Weet u zeker dat u wilt doorgaan?

            br
            .button-list
                a.ui-btn.ui-btn-raised.clr-primary(href='#', data-rel='back', data-direction='reverse', title='Nee, ga terug')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Nee, ga terug
                button.ui-btn.clr-warning(type='submit', title='Ja, verwijder deze inzending', data-ajax='false')
                    i.zmdi.zmdi-delete
                    | &nbsp;&nbsp;Ja, verwijder
