extends ../../base/page

block content
    p.
        Vul op deze pagina uw antwoord in, en klik op de knop om uw antwoord in te zenden.

    div(align="center")
        table.table-list.ui-responsive
            tr: td Naam
                td= submission.assignment.name
            tr: td Beschrijving
                td= submission.assignment.description
            tr: td Door
                td= submission.user.name
            tr: td Pogingen
                if submission.assignment.retry
                    td Onbeperkt
                else
                    td 1x
            tr: td Status
                td
                    if submission.approve_state === 0
                        span(style='color: gray; font-style: italic;') In afwachting
                    else if submission.approve_state === 1
                        span(style='color: green;') Goedgekeurd
                    else if submission.approve_state === 2
                        span(style='color: red;') Afgekeurd

    br
    form(method='POST', action=page.url + '/#')
        if submission.assignment.allow_text
            label(for='field-submission-text') Antwoord:
                textarea(name='field-submission-text', id='field-submission-text', data-clear-btn='true', data-randomize='true')
                    unless submission.answer_text === null
                        = submission.answer_text

        if submission.assignment.allow_file
            label(for='field-submission-text') Bestand (bestand vervangen):
            input(type='file', name='field-submission-file', id='field-submission-file')

        br
        .button-list
            button.ui-btn.ui-btn-raised.clr-primary(type='submit', data-ajax='false')
                i.zmdi.zmdi-edit
                | &nbsp;&nbsp;Inzending aanpassen
            a.ui-btn.clr-warning(href=page.url + '/../delete', title='Inzending verwijderen')
                i.zmdi.zmdi-delete
                | &nbsp;&nbsp;Inzending verwijderen
