extends ../../base/page

block content
    div(align="center")
        p Pas hieronder de antwoorden aan, en klik op de knop om de verandering toe te passen.
        if submission.approve_state !== 0
        p Na het aanpassen zal uw inzending opnieuw goedgekeurd moeten worden.

        table.table-list.ui-responsive
            tr: td Naam
                td= submission.assignment.name
            tr: td Opdracht
                td
        p(style='border: 1px darkgray solid; padding: 8px')= submission.assignment.description
        table.table-list.ui-responsive
            tr: td Ingezonden
                td= submission.user.name
            tr: td Punten
                td
                    if submission.approve_state === 0
                        = submission.assignment.points
                    else if submission.approve_state === 1
                        span(style='color: green;')= submission.assignment.points
                    else if submission.approve_state === 2
                        span(style='color: red;')= submission.assignment.points
            tr: td Pogingen
                if submission.assignment.retry
                    td Onbeperkt
                else
                    td 1x
            tr: td Beoordeling
                td
                    if submission.approve_state === 0
                        i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                            &nbsp;
                        span(style='color: gray; font-style: italic;') In afwachting
                    else if submission.approve_state === 1
                        i.zmdi.zmdi-thumb-up.ui-pull-left(style='color: green;').
                            &nbsp;
                        span(style='color: green;') Goedgekeurd
                    else if submission.approve_state === 2
                        i.zmdi.zmdi-thumb-down.ui-pull-left(style='color: red;').
                            &nbsp;
                        span(style='color: red;') Afgekeurd

    br
    form(method='POST', action=page.url + '/#')
        if submission.assignment.allow_text
            label(for='field-submission-text') Antwoord:
                textarea(name='field-submission-text', id='field-submission-text', data-clear-btn='true', data-randomize='true')
                    unless submission.answer_text === null
                        = submission.answer_text

        if submission.assignment.allow_file
            label(for='field-submission-text') Bestand (bestand vervangen):
            input(type='file', name='field-submission-file', id='field-submission-file')

        br
        .button-list
            button.ui-btn.ui-btn-raised.clr-primary(type='submit', data-ajax='false')
                i.zmdi.zmdi-edit
                | &nbsp;&nbsp;Inzending aanpassen
            if submission.permissions.approve
                a.ui-btn(href='/game/' + game.id + '/assignment/' + submission.assignment.id + '/edit', title='Opdracht beheren')
                    i.zmdi.zmdi-comment-edit
                    | &nbsp;&nbsp;Opdracht beheren
            if submission.permissions.delete
                a.ui-btn.clr-warning(href=page.url + '/../delete', title='Inzending verwijderen')
                    i.zmdi.zmdi-delete
                    | &nbsp;&nbsp;Inzending verwijderen
