extends ../../base/page

block content
    unless created
        p.
            Vul op deze pagina uw antwoord in, en klik op de knop om uw antwoord in te zenden.

        div(align="center")
            table.table-list.ui-responsive
                tr: td Naam
                    td= assignment.name
                tr: td Opdracht
                    td Tekst &#x21B4;
            p.content-box= assignment.description
            table.table-list.ui-responsive
                tr: td Bereik
                    if point.inRange
                        td(class='point-' + point.id + '-in-range'): span(style='color: green;') In bereik
                    else
                        td(class='point-' + point.id + '-in-range'): span(style='color: red;') Buiten bereik
                tr: td Punten
                    td
                        i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                            &nbsp;&nbsp;
                        = assignment.points
                tr: td Pogingen
                    if assignment.retry
                        td Onbeperkt
                    else
                        td 1x

        br
        form(method='POST', action=page.url + '/#', enctype='multipart/form-data')
            if assignment.allow_text
                label(for='field-submission-text') Tekst:
                textarea(name='field-submission-text', id='field-submission-text', data-clear-btn='true', data-randomize='true')

            if assignment.allow_file
                label(for='field-submission-text') Bestand:
                input(type='file', name='field-submission-file', id='field-submission-file')

            br
            .button-list
                button(class='ui-btn ui-btn-raised clr-primary point-' + point.id + '-submission-submit', type='submit', data-ajax='false') Antwoord inzenden
                a.ui-btn(href='#', data-rel='back', data-direction='reverse', data-wow-delay='0.4s')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Ga terug

    else
        p.
            Het antwoord is ingezonden.#[br]
            #[br]
            Een docent moet uw inzending goedkeuren voordat u punten verdiendt met deze opdracht.

        div(align="center")
            table.table-list.ui-responsive
                tr: td Naam
                    td= assignment.name
                tr: td Opdracht
                    td Tekst &#x21B4;
            p.content-box= assignment.description
            table.table-list.ui-responsive
                unless submission.text === null
                    tr: td Antwoord
                        td Tekst &#x21B4;
            unless submission.text === null
                p.content-box= submission.text

            unless submission.file === null
                table.table-list.ui-responsive
                    tr: td Antwoord
                        td Bestand &#x21B4;

            unless submission.file === null
                div.content-box
                    if submission.file.isImage
                        a(href=submission.file.url, target='_blank', title='Bestand bekijken')
                            img(src=submission.file.url, alt='Afbeelding bestand')
                    else if submission.file.isVideo
                        video(controls alt='Video bestand')
                            source(src=submission.file.url)
                    else
                        p  Bestandstype onbekend.
                        p  Klik op de knop om het bestand te openen.
                    a.ui-btn(href=submission.file.url, title='Bestand bekijken', target='_blank')
                        i.zmdi.zmdi-zoom-in
                        | &nbsp;&nbsp;Bestand bekijken

        br
        p Klik op de onderstaande knop om terug te gaan naar het spel.

        br
        .button-list
            a.ui-btn.ui-btn-raised.clr-primary(href='/game/' + game.id, title='Speloverzicht')
                i.zmdi.zmdi-home
                | &nbsp;&nbsp;Speloverzicht
            a.ui-btn(href='/game/' + game.id + '/submission/' + submission.id, title='Inzending bekijken')
                i.zmdi.zmdi-zoom-in
                | &nbsp;&nbsp;Inzending bekijken
