extends ../../base/page

block content
    unless created
        p.
            Vul op deze pagina uw antwoord in, en klik op de knop om uw antwoord in te zenden.

        div(align="center")
            table.table-list.ui-responsive
                tr: td Naam
                    td= assignment.name
                tr: td Opdracht
                    td
            p(style='border: 1px darkgray solid; padding: 8px')= assignment.description
            table.table-list.ui-responsive
                tr: td Bereik
                    if point.inRange
                        td(class='point-' + point.id + '-in-range'): span(style='color: green;') In bereik
                    else
                        td(class='point-' + point.id + '-in-range'): span(style='color: red;') Buiten bereik
                tr: td Punten
                    td
                        i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                            &nbsp;&nbsp;
                        = assignment.points
                tr: td Pogingen
                    if assignment.retry
                        td Onbeperkt
                    else
                        td 1x

        br
        form(method='POST', action=page.url + '/#')
            if assignment.allow_text
                label(for='field-submission-text') Antwoord:
                textarea(name='field-submission-text', id='field-submission-text', data-clear-btn='true', data-randomize='true')

            if assignment.allow_file
                label(for='field-submission-text') Bestand:
                input(type='file', name='field-submission-file', id='field-submission-file')

            br
            .button-list
                button(class='ui-btn ui-btn-raised clr-primary point-' + point.id + '-submission-submit', type='submit', data-ajax='false') Antwoord inzenden
                a.ui-btn(href='#', data-rel='back', data-direction='reverse', data-wow-delay='0.4s')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Ga terug

    else
        p.
            Het antwoord is ingezonden.#[br]
            #[br]
            Een docent moet uw inzending goedkeuren voordat u punten verdiendt met deze opdracht.

        div(align="center")
            table.table-list.ui-responsive
                tr: td Opdracht
                    td= assignment.name
                tr: td Beschrijving
                    td= assignment.description

                // Show text submissions
                unless null == submission.text
                    tr: td Inzending
                        td= submission.text

                // Show file submissions
                unless submission.file === null
                    tr: td Antwoord
                        td: i(style='color: gray;') Bestand

        br
        p Klik op de onderstaande knop om terug te gaan naar het spel.

        br
        .button-list
            a.ui-btn.ui-btn-raised.clr-primary(href='/game/' + game.id, title='Terug naar het spel') Terug naar het spel
            a.ui-btn(href='/game/' + game.id + '/submission/' + submission.id, title='Inzending bekijken') Inzending bekijken
