extends base/page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        - var fadeDelay = 0;
        li.wow.fadeInUp(data-tab='dashboard', data-wow-delay=(fadeDelay += 0.1) + 's') Dashboard
        li.wow.fadeInUp(data-tab='games', data-wow-delay=(fadeDelay += 0.1) + 's') Spellen

block content
    div(data-role='nd2tab', data-tab='dashboard')
        div(align='center')
            p Welkom #{session.user.name}!

            img(src='/public/img/logobohemen.jpg')

            p U gebruikt momenteel een prototype van #{app.name}.

        br
        .button-list
            a.ui-btn(href='/about', title='Over')
                i.zmdi.zmdi-info
                | &nbsp;&nbsp;Over #{app.name}
            a.ui-btn.clr-warning(href='/logout', title='Uitlogge')
                i.zmdi.zmdi-stop
                | &nbsp;&nbsp;Uitloggen

    div(data-role='nd2tab', data-tab='games')
        - var fadeDelay = -0.1;

        ul(data-role='listview')
            if games.games.active.length > 0
                li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Actieve spellen
                each game in games.games.active
                    li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): a(href='/game/' + game.id)= game.name
                        span.ui-li-count() #{game.userCount} gebruiker#{game.userCount === 1 ? '' : 's'}

            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Nieuwste open spellen
            if games.games.open.length > 0
                each game in games.games.open
                    li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): a(href='/game/' + game.id)= game.name
                        span.ui-li-count() #{game.userCount} gebruiker#{game.userCount === 1 ? '' : 's'}
            else
                li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): i Geen spellen in deze categorie...

        br
        .button-list
            a.ui-btn.wow.fadeInUp(href='/games', data-wow-delay=(fadeDelay += 0.1) + 's', title='Alle spellen bekijken...') Alle spellen bekijken...
            if user.isAdmin
                a.ui-btn.wow.fadeInUp(href='/game/create', data-wow-delay=(fadeDelay += 0.1) + 's', title='Nieuw spel aanmaken') Spel aanmaken

