extends page

block content
    div(align="center")
        table.table-list.ui-responsive
            tr: td Naam
                td= point.name

        #point-map-container

        table.table-list.ui-responsive
            tr: td Latitude
                td(id='value-point-lat')= point.latitude
            tr: td Longitude
                td(id='value-point-lng')= point.longitude

    br
    .button-list
        a.ui-btn(href=page.url + '/edit', title='Punt aanpassen')
            i.zmdi.zmdi-edit
            | &nbsp;&nbsp;Punt aanpassen
        a.ui-btn.clr-warning(href=page.url + '/delete', title='Punt verwijderen')
            i.zmdi.zmdi-delete
            | &nbsp;&nbsp;Punt verwijderen
