extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        - var fadeDelay = 0;
        if game.stage >= 1
            li.wow.fadeInUp(data-tab='map', data-wow-delay=(fadeDelay += 0.1) + 's') Kaart
        if game.stage == 1
            li.wow.fadeInUp(data-tab='assignments', data-wow-delay=(fadeDelay += 0.1) + 's') Opdrachten
        li.wow.fadeInUp(data-tab='info', data-wow-delay=(fadeDelay += 0.1) + 's') Info

block content
    div(data-role='nd2tab', data-tab='map')
        #map-container

    div(data-role='nd2tab', data-tab='assignments')
        .game-assignments-list
            div(align='center')
                p.game-data-load-label: i Geen opdrachten beschikbaar...

    div(data-role='nd2tab', data-tab='info')
        if (user.isHost || user.isAdmin)
            if game.usersCount.requested > 0
                .nd2-card.wow.fadeInUp
                    .card-title.has-supporting-text
                        h3.card-primary-title Gebruikers goedkeuren

                    .card-supporting-text.has-action.has-title.
                        #{game.usersCount.requested} gebruiker#{game.usersCount.requested == 1 ? ' heeft' : 's hebben'} een aanvraag gedaan om deel te nemen aan dit spel, en wacht#{game.usersCount.requested == 1 ? '' : 'en'} op goedkeuring.
                        Klik op de onderstaande knop om gebruikers goed te keuren.

                    .card-action
                        .row.between-xs: .col-xs-12: .box
                            a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/players/requested', data-transition='slide') Gebruikers goedkeuren

            .nd2-card.wow.fadeInUp
                .card-title.has-supporting-text
                    h3.card-primary-title Spelbeheer

                .card-supporting-text.has-action.has-title.
                    Bezoek de beheerpagina om het spel te starten.

                .card-action
                    .row.between-xs: .col-xs-12: .box
                        a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/manage', data-transition='slide') Beheer

        //- Show a proper card if the user hasn't joined this game
        unless game.userState.participant || game.userState.spectator
            if game.userState.requested
                .nd2-card.wow.fadeInUp
                    .card-title.has-supporting-text
                        h3.card-primary-title Deelname aangevraagd

                    .card-supporting-text.has-action.has-title.
                        Je hebt een aanvraag gedaan om deel te nemen aan dit spel.
                        Wacht alstublieft op een docent om je deelname goed te keuren.

            else
                .nd2-card.wow.fadeInUp
                    .card-title.has-supporting-text
                        h3.card-primary-title Beschikbaar spel

                    .card-supporting-text.has-action.has-title.
                        Je doet nog niet mee aan dit spel, en u kunt een aanvraag doen om deel te nemen aan het spel.

                    .card-action
                        .row.between-xs: .col-xs-12: .box
                            a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/join', data-transition='slide') Deelname aanvragen

        .nd2-card.wow.fadeInUp
            .card-title.has-supporting-text
                h3.card-primary-title Spelinformatie

            .card-supporting-text.has-action.has-title
                table.table-list.ui-responsive
                    tr: td Naam
                        td= game.name
                    tr: td Staat
                        case game.stage
                            when 0
                                td Nog niet gestart
                            when 1
                                td(style="color: green;") Gestart
                            when 2
                                td Afgerond
                    tr: td Deelnemers
                        td= game.usersCount.totalAccepted
                            span.gray  gebruiker#{game.usersCount.totalAccepted == 1 ? '' : 's'}
                    if game.usersCount.requested > 0
                        tr: td Aangevraagd
                            td= game.usersCount.requested
                                span.gray  gebruiker#{game.usersCount.requested == 1 ? '' : 's'}

            .card-action
                .row.between-xs: .col-xs-12: .box
                    a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/info', data-transition='slide') Meer info
                    a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/players', data-transition='slide') Deelnemers
