extends ../../../base/page

block content
    div(align="center")
        if approve_state === 0
            p Weet u zeker dat u de goedkeuring van deze inzending ongedaan wilt maken?
        else if approve_state === 1
            p Weet u zeker dat u deze inzending wilt <span style='color: green;'>goedkeuren</span>?
        else if approve_state === 2
            p Weet u zeker dat u deze inzending wilt <span style='color: red;'>afkeuren</span>?

        form(method='POST', action=page.url + '/#')
            table.table-list.ui-responsive
                tr: td Naam
                    td= submission.assignment.name
                tr: td Opdracht
                    td
            p(style='border: 1px darkgray solid; padding: 8px')= submission.assignment.description
            table.table-list.ui-responsive
                tr: td Punten
                    td= submission.assignment.points
                unless submission.answer_text === null
                    tr: td Antwoord
                        td
            unless submission.answer_text === null
                p(style='border: 1px darkgray solid; padding: 8px')= submission.answer_text

            table.table-list.ui-responsive
                unless submission.answer_file === null
                    tr: td Bestand
                        td= submission.answer_file

            br
            .button-list
                if approve_state === 0
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, goedkeuring ongedaan maken', data-ajax='false')
                        i.zmdi.zmdi-thumb-up-down
                        | &nbsp;&nbsp;Ja, ongedaan maken
                else if approve_state === 1
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending goed', data-ajax='false')
                        i.zmdi.zmdi-thumb-up
                        | &nbsp;&nbsp;Ja, inzending goedkeuren
                else if approve_state === 2
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending af', data-ajax='false')
                        i.zmdi.zmdi-thumb-down
                        | &nbsp;&nbsp;Ja, inzending afkeuren

                a.ui-btn(href='#', data-rel='back', data-direction='reverse', title='Nee, ga terug')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Nee, ga terug
