extends ../../../base/page

block content
    div(align="center")
        if approve_state === 0
            p Weet u zeker dat u de goedkeuring van deze inzending ongedaan wilt maken?
        else if approve_state === 1
            p Weet u zeker dat u deze inzending wilt <span style='color: green;'>goedkeuren</span>?
        else if approve_state === 2
            p Weet u zeker dat u deze inzending wilt <span style='color: red;'>afkeuren</span>?

        form(method='POST', action=page.url + '/#')
            table.table-list.ui-responsive
                tr: td Naam
                    td= submission.assignment.name
                tr: td Opdracht
                    td Tekst &#x21B4;
            p.content-box= submission.assignment.description
            table.table-list.ui-responsive
                tr: td Punten
                    td= submission.assignment.points
                unless submission.answer_text === null
                    tr: td Antwoord
                        td Tekst &#x21B4;
            unless submission.answer_text === null
                p.content-box= submission.answer_text
                table.table-list.ui-responsive

                    unless submission.answer_file === null
                        tr: td Antwoord
                            td Bestand &#x21B4;

            unless submission.answer_file === null
                div.content-box
                    if submission.answer_file.isImage
                        a(href=submission.answer_file.url, target='_blank', title='Bestand bekijken')
                            img(src=submission.answer_file.url, alt='Afbeelding bestand')
                    else if submission.answer_file.isVideo
                        video(controls alt='Video bestand')
                            source(src=submission.answer_file.url)
                    else
                        p  Bestandstype onbekend.
                        p  Klik op de knop om het bestand te openen.
                    a.ui-btn(href=submission.answer_file.url, title='Bestand bekijken', target='_blank')
                        i.zmdi.zmdi-search-in-file
                        | &nbsp;&nbsp;Bestand bekijken

            br
            .button-list
                if approve_state === 0
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, goedkeuring ongedaan maken', data-ajax='false')
                        i.zmdi.zmdi-thumb-up-down
                        | &nbsp;&nbsp;Ja, ongedaan maken
                else if approve_state === 1
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending goed', data-ajax='false')
                        i.zmdi.zmdi-thumb-up
                        | &nbsp;&nbsp;Ja, inzending goedkeuren
                else if approve_state === 2
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending af', data-ajax='false')
                        i.zmdi.zmdi-thumb-down
                        | &nbsp;&nbsp;Ja, inzending afkeuren

                a.ui-btn(href='#', data-rel='back', data-direction='reverse', title='Nee, ga terug')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Nee, ga terug
