extends ../../../base/page

block content
    div(align="center")
        if approve_state == 0
            p Weet u zeker dat u de goedkeuring van deze inzending ongedaan wilt maken?
        else if approve_state == 1
            p Weet u zeker dat u deze inzending wilt <span style='color: green;'>goedkeuren</span>?
        else if approve_state == 2
            p Weet u zeker dat u deze inzending wilt <span style='color: red;'>afkeuren</span>?

        form(method='POST', action=page.url + '/#')
            table.table-list.ui-responsive
                tr: td Voor
                    td= submission.assignment.name
                tr: td Beschrijving
                    td= submission.assignment.description
                unless submission.answer_text == null
                    tr: td Antwoord
                        td= submission.answer_text
                unless submission.answer_file == null
                    tr: td Bestand
                        td= submission.answer_file

            br
            .button-list
                if approve_state == 0
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, goedkeuring ongedaan maken', data-ajax='false')
                        i.zmdi.zmdi-thumb-up-down
                        | &nbsp;&nbsp;Ja, ongedaan maken
                else if approve_state == 1
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending goed', data-ajax='false')
                        i.zmdi.zmdi-thumb-up
                        | &nbsp;&nbsp;Ja, inzending goedkeuren
                else if approve_state == 2
                    button.ui-btn.ui-btn-raised.clr-primary(type='submit', title='Ja, keur de inzending af', data-ajax='false')
                        i.zmdi.zmdi-thumb-down
                        | &nbsp;&nbsp;Ja, inzending afkeuren

                a.ui-btn(href='#', data-rel='back', data-direction='reverse', title='Nee, ga terug')
                    i.zmdi.zmdi-arrow-back
                    | &nbsp;&nbsp;Nee, ga terug
