extends ../../../base/page

block content
    div(align="center")
        table.table-list.ui-responsive
            tr: td Naam
                td= submission.assignment.name
            tr: td Opdracht
                td Tekst &#x21B4;
        p.content-box= submission.assignment.description
        table.table-list.ui-responsive
            tr: td Beoordeling
                td
                    if submission.approve_state === 0
                        i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                            &nbsp;
                        span In afwachting
                    else if submission.approve_state === 1
                        i.zmdi.zmdi-thumb-up.ui-pull-left(style='color: green;').
                            &nbsp;
                        span Goedgekeurd
                    else if submission.approve_state === 2
                        i.zmdi.zmdi-thumb-down.ui-pull-left(style='color: red;').
                            &nbsp;
                        span Afgekeurd
            unless submission.answer_text === null
                tr: td Antwoord
                    td Tekst &#x21B4;
        unless submission.answer_text === null
            p.content-box= submission.answer_text

        unless submission.answer_file === null
            table.table-list.ui-responsive
                tr: td Antwoord
                    td Bestand &#x21B4;

        unless submission.answer_file === null
            div.content-box
                if submission.answer_file.isImage
                    a(href=submission.answer_file.url, target='_blank', title='Bestand bekijken')
                        img(src=submission.answer_file.url, alt='Afbeelding bestand')
                else if submission.answer_file.isVideo
                    video(controls alt='Video bestand')
                        source(src=submission.answer_file.url)
                else
                    p  Bestandstype onbekend.
                    p  Klik op de knop om het bestand te openen.
                a.ui-btn(href=submission.answer_file.url, title='Bestand bekijken', target='_blank')
                    i.zmdi.zmdi-search-in-file
                    | &nbsp;&nbsp;Bestand bekijken

    // Show the approval buttons
    br
    .button-list
        if submission.approve_state !== 1
            a.ui-btn.clr-btn-green.clr-btn-accent-green(href=page.url + '/accept', title='Inzending accepteren')
                i.zmdi.zmdi-thumb-up
                | &nbsp;&nbsp;Inzending goedkeuren
        if submission.approve_state !== 2
            a.ui-btn.clr-btn-red.clr-btn-accent-red(href=page.url + '/reject', title='Inzending afwijzen')
                i.zmdi.zmdi-thumb-down
                | &nbsp;&nbsp;Inzending afkeuren
        if submission.approve_state !== 0
            a.ui-btn(href=page.url + '/reset', title='Goedkeuring ongedaan maken voor deze inzending')
                i.zmdi.zmdi-thumb-up-down
                | &nbsp;&nbsp;Goedkeuring ongedaan maken
        a.ui-btn(href='/game/' + game.id, title='Speloverzicht')
            i.zmdi.zmdi-home
            | &nbsp;&nbsp;Speloverzicht
