extends ../../base/page

block content
    form(method='POST', action=page.url + '/#')
        label(for='field-assignment-name') Naam:
        input(type='text', name='field-assignment-name', id='field-assignment-name', value=assignment.name, data-clear-btn='true', data-randomize='true')
        label(for='field-assignment-description') Beschrijving:
        textarea(name='field-assignment-description', id='field-assignment-description', data-clear-btn='true', data-randomize='true')= assignment.description

        br
        .row
            .col-xs: .box
                label(for='field-assignment-answer-text') Text antwoord:
                select(name='field-assignment-answer-text', id='field-assignment-answer-text', data-role='flipswitch')
                    if assignment.answer_text
                        option(value='false') NEE
                        option(value='true', selected='selected') JA
                    else
                        option(value='false', selected='selected') NEE
                        option(value='true') JA

            .col-xs: .box
                label(for='field-assignment-answer-file') Bestand antwoord:
                select(name='field-assignment-answer-file', id='field-assignment-answer-file', data-role='flipswitch')
                    if assignment.answer_file
                        option(value='false') NEE
                        option(value='true', selected='selected') JA
                    else
                        option(value='false', selected='selected') NEE
                        option(value='true') JA

        label(for='field-assignment-retry') Meerdere pogingen:
        select(name='field-assignment-retry', id='field-assignment-retry', data-role='flipswitch', selected=assignment.retry)
            if assignment.retry
                option(value='false') NEE
                option(value='true', selected='selected') JA
            else
                option(value='false', selected='selected') NEE
                option(value='true') JA

        br
        br
        .button-list
            button.ui-btn.ui-btn-raised.clr-primary(type='submit', data-ajax='false')
                i.zmdi.zmdi-edit
                | &nbsp;&nbsp;Punt aanpassen
            a.ui-btn.clr-warning(href=page.url + '/../delete', title='Punt verwijderen')
                i.zmdi.zmdi-delete
                | &nbsp;&nbsp;Punt verwijderen
