// Mixin for the available list
mixin availableList
    li.wow.fadeInUp.game-assignments-group-available(data-role='list-divider')= 'Beschikbaar  ·  ' + submissions.available.length
        if submissions.available.length === 0
            p.wow.fadeInUp.game-data-load-label(style='font-style: italic;')
                if submissions.game.stage === 1
                    span.
                        Hier geen opdrachten beschikbaar...#[br]
                        Loop naar een punt op de kaart#[br]
                        om opdrachten uit te kunnen voeren.
                else
                    span.
                        Opdrachten zijn alleen beschikbaar#[br]
                        als het spel gestart is.

    if submissions.available.length > 0
        each assignment in submissions.available
            li: a.wow.fadeInUp(href='/game/' + game.id + '/assignment/' + assignment.id + '/submit', data-transition='slide')= assignment.name
                span.ui-li-count
                    i.zmdi.zmdi-puzzle-piece.ui-pull-left.
                        &nbsp;&nbsp;
                    = assignment.points

// Mixin for the pending list
mixin pendingList
    li.wow.fadeInUp.game-assignments-group-pending(data-role='list-divider')= 'In afwachting  ·  ' + submissions.pending.length
    each submission in submissions.pending
        li: a.wow.fadeInUp(href='/game/' + game.id + '/submission/' + submission.id, data-transition='slide')
            = submission.name
            if submissions.user.id !== submission.user.id
                span(style="color: gray;")= '  ·  ' + submission.user.name
            if submissions.user.canApprove
                span.ui-li-count(style='color: darkorange;')
                    i.zmdi.zmdi-notifications-active.ui-pull-left.animated.infinite.swing
                    span &nbsp;&nbsp;
                    = submission.points
            else
                span.ui-li-count
                    i.zmdi.zmdi-more.ui-pull-left.
                        &nbsp;&nbsp;
                    = submission.points

// Mixin for the rated list
mixin ratedList
    li.wow.fadeInUp.game-assignments-rated(data-role='list-divider')= 'Beoordeeld  ·  ' + submissions.rated.length
    each submission in submissions.rated
        li: a.wow.fadeInUp(href='/game/' + game.id + '/submission/' + submission.id, data-transition='slide')
            = submission.name
            if submissions.user.id !== submission.user.id
                span(style="color: gray;")= '  ·  ' + submission.user.name
            if submission.approve_state === 1
                span.ui-li-count(style=submissions.user.id === submission.user.id ? 'color: green;' : '')
                    i.zmdi.zmdi-thumb-up.ui-pull-left.
                        &nbsp;&nbsp;
                    = submission.points
            else if submission.approve_state === 2
                span.ui-li-count(style=submissions.user.id === submission.user.id ? 'color: red;' : '')
                    if submission.retry
                        i.zmdi.zmdi-edit.ui-pull-left.
                            &nbsp;&nbsp;
                    i.zmdi.zmdi-thumb-down.ui-pull-left.
                        &nbsp;&nbsp;
                    = submission.points
            else
                span.ui-li-count
                    i.zmdi.zmdi-thumb-up-down.ui-pull-left.
                        &nbsp;&nbsp;
                    = submission.points

// List of assignments
ul(data-role='listview').game-assignments-list
    // Label for assignments that are pending, on top if the user can approve
    if submissions.user.canApprove && submissions.pending.length > 0
        +pendingList

    // Section for when assignments are available
    if submissions.available.length > 0
        +availableList

    // Label for assignments that are pending, normal position of the user can't approve
    if !submissions.user.canApprove && submissions.pending.length > 0
        +pendingList

    // Label for assignments that are rated
    if submissions.rated.length > 0
        +ratedList

    // Availability notice for when no assignments are available
    if submissions.available.length === 0
        +availableList

// Label for when there are no assignments
//div.game-assignments-none(align='center')
